{% extends 'layouts/base.html' %}

{% block title %}
YourSchool Advisor
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>YourSchool Advisor</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Some truly lovely information explaining all about advisor and why you should use it.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-offset-3">
    <a href="#new">
      <button type="button" class="btn btn-standard btn-lg btn-block">Create a new Trajectory</button>
     </a>
  </div>
</div>

{% endblock %}
