{% extends 'layouts/base.html' %}

{% block title %}
YourSchool Advisor
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong><a href="#yourSchoolURL">{YourSchool}</a> Advisor</strong></h1>
      <p class="lead">Automated student academic advising.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10 text-center">
    <h6>Create your potential paths to graduation.</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <a href="{% url 'new-trac' %}">
      <button type="button" class="btn btn-primary btn-lg btn-block">Create a New Trajectory</button>
     </a>
  </div>
</div>

{% endblock %}
