{% extends 'layouts/base.html' %}

{% block title %}

{% endblock %}

{% block templates %}
<script type="text/template" id="course-template">
  <%= dept %> <%= courseid %>
</script>
<script type="text/template" id="program-template">
  <div class="panel-heading program-title">
    <h3 class="panel-title"><%= name %></h3>
  </div>
  <div class="panel-body">
    <div class="gridster courses">
    </div>
  </div>
</script>
<script type="text/template" id="semester-template">
  <div class="panel-heading">
    <h3 class="panel-title">Semester <%= id %></h3>
  </div>
  <div class="panel-body">
    <div class="gridster courses">
    </div>
  </div>
</script>
<p style="display:none; id="trajid"">{{ trac.id }}</p>
{% endblock %}

{% block content %}
<div class="row semester-controls">
  <div class="col-lg-2 col-lg-offset-7">
    <a href="#NewSemester" class="btn btn-block btn-lg btn-info">Semester <i class="fa fa-plus"></i> </a>
  </div>
  <div class="col-lg-2">
    <a id="save" href="#Save" class="btn btn-block btn-lg btn-primary">Save</a>
  </div>
  <div class="col-lg-1">
    <a id="slide" href="#" class="btn btn-block btn-lg btn-inverse"><i class="fa fa-sort-desc fa-lg"></i></a>
  </div>
</div>
<div class="row gridster">
  <div id="" class="col-lg-12">
    <div id="semesters">
    </div>
    <div id="programs">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Computer Science Major</h3>
      </div>
      <div class="panel-body courses-panel">
        <div class="gridster courses">
          <ul>
              <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="6" data-sizex="1" data-sizey="1"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Computer Science Major</h3>
      </div>
      <div class="panel-body">
        <div class="gridster courses">
          <ul>
              <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="6" data-sizex="1" data-sizey="1"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="infoModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="course-info-title" class="modal-title"></h4>
      </div>
      <div id="course-info-body" class="modal-body">
        <p id="course-info-description"></p>
        <strong>Prerequsities:</strong><p id="course-info-prereqs"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src="/static/js/grids.js"></script>
  <script src="/static/js/advisor/models/course.js"></script>
  <script src="/static/js/advisor/models/requirement.js"></script>
  <script src="/static/js/advisor/models/program.js"></script>
  <script src="/static/js/advisor/models/semester.js"></script>
  <script src="/static/js/advisor/models/trajectory.js"></script>
  <script src="/static/js/advisor/collections/courses.js"></script>
  <script src="/static/js/advisor/collections/requirements.js"></script>
  <script src="/static/js/advisor/collections/programs.js"></script>
  <script src="/static/js/advisor/collections/semesters.js"></script>
  <script src="/static/js/advisor/views/courseView.js"></script>
  <script src="/static/js/advisor/views/programView.js"></script>
  <script src="/static/js/advisor/views/semesterView.js"></script>
  <script src="/static/js/advisor/views/programCollectionView.js"></script>
  <script src="/static/js/advisor/views/semesterCollectionView.js"></script>
  <script src="/static/js/advisor/views/courseCollectionView.js"></script>
  <script src="/static/js/advisor/app.js"></script>
{% endblock %}
