{% extends 'layouts/base.html' %}

{% block title %}

{% endblock %}

{% block templates %}
<script type="text/template" id="course-template">
    <%= dept %> <%= courseid %>
</script>
<script type="text/template" id="program-template">
  <div class="panel-heading">
    <h3 class="panel-title"><%= name %></h3>
  </div>
  <div class="panel-body">
    <div class="gridster courses">
    </div>
  </div>
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
  </div>
</div>
<div class="row">
  <div id="programs" class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Computer Science Major</h3>
      </div>
      <div class="panel-body">
        <div class="gridster courses">
          <ul>
              <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="6" data-sizex="1" data-sizey="1"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Computer Science Major</h3>
      </div>
      <div class="panel-body">
        <div class="gridster courses">
          <ul>
              <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="4" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
              <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

              <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
              <li data-row="2" data-col="6" data-sizex="1" data-sizey="1"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src="/static/js/grids.js"></script>
  <script src="/static/js/advisor/models/course.js"></script>
  <script src="/static/js/advisor/models/requirement.js"></script>
  <script src="/static/js/advisor/models/program.js"></script>
  <script src="/static/js/advisor/collections/courses.js"></script>
  <script src="/static/js/advisor/collections/requirements.js"></script>
  <script src="/static/js/advisor/collections/programs.js"></script>
  <script src="/static/js/advisor/views/courseView.js"></script>
  <script src="/static/js/advisor/views/programView.js"></script>
  <script src="/static/js/advisor/views/programCollectionView.js"></script>
  <script src="/static/js/advisor/views/courseCollectionView.js"></script>
  <script src="/static/js/advisor/app.js"></script>
{% endblock %}
