{% extends 'layouts/base.html' %}
{% block content %}
{% load gravatar %}
    <div class="row clearfix">
        <div class="col-md-4 column">
 <img class="img-circle img-responsive center-block" src="{% gravatar url
 '{{ user.email }}' 200 %}">
        </div>
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
<h3>
Hello {{ firstname }}! | Your advisor is:  {{ advisorname }}
</h3>
            <form role="form">
            </form>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h5> Courses Taken </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Course Number
                        </th>
                        <th>
                            Course Name
                        </th>
                        <th>
                            Semester Taken
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
