/* Sticky footer styles
------------------------------------*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}
#icon{
  width: 16px;
  height: 16px;
}
#main {
  padding-top: 45px;
}

.courses li {
  background-color: #27AE60;
  list-style-type: none;
}

.program {
  text-align: center;
}

.course {
  width: 160px;
  height: 80px;
  margin: 10px;
  text-align: center;
  padding-top: 18px;
  font-size: 24px;
  color: #171C21;
  display: inline-block;
  background-color: #2980B9;
}

.CS {
  background-color: #3498DB;
}
.MATH {
  background-color: 
}
.ASTR, .PHYS, .CHEM, .BIOL {
  background-color: #27AE60;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
}

/* Bootstrap Overrides */
