{% extends 'layouts/base.html' %}

{% block title %}
Analytics | YourSchool Advisor
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Analytics</h1>
      <p class="lead">Some information we've discovered from our users.</p>
    </div>
  </div>
</div>

<div class="row well">
<p>Our users versus overall official school statistics.</p>

  <legend>Popularity</legend>

  <p>Most popular classes</p>
  <p>Most popular program</p>
  <p>Most popular department</p>
  
  <!-- <p>Popularity over time</p> -->

  <p>Percentage BS majors | Percentage BA majors</p>
  <p>Percentage with minors</p>
  <p>Most popular program combinations</p>

</div>

<div class="row well">
  <legend>You vs. Your Peers</legend>

  <div class="col-md-6">
    <h3>In your year</h3>
    <!-- Similar information as above -->
  </div>

  <div class="col-md-6">
    <h3>With Your Same Major</h3>
    <!-- Similar information as above -->
  </div>

{% endblock %}
